{
	"Description" :	"Create a S3 bucket and give Public Read access",
	"Resources": {
		"HelloBucket": {
			"Type": "AWS::S3::Bucket",
			"Properties": {
				"AccessControl": "PublicRead",
		                "BucketName" : "helloworld-baby",	
				"WebsiteConfiguration": {
					"IndexDocument": "index.html",
					"ErrorDocument": "error.html"
				}
			}
		}
	}
}
